img {
    height: 70vh;
    width: 30vw;
    border-radius: 10px;
    filter: drop-shadow(5px 5px 5px grey);
}

div {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 5px;
}

form {
    margin: 10px;
    text-align: center;
}

.public {
    text-align: center;
    position: relative;;
    align-items: center;
    justify-content: center;
}

.imgText {
    text-align: center;
    margin-top: 35px;
    margin-bottom: 5px;
}

main {
    width: 80%;
    margin: auto;
}

#userPrompt {
    width: 60%;
    margin: auto;
    margin-top: 25px;
}

#genImgDiv {
    margin-top: 25px;
}

body {
    text-align: center;
}

#reviewDiv {
    width: 60%;
    margin: auto;
    text-align: center;
}

#imagePrompt {
    width: 60%;
    text-align: center;
    margin: auto;
    margin-top: 25px;
}

.login {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 40px;
}
  
.login img {
    height: 20px;
    width: 20px;
}

nav>a {
    color: white;
}

nav>a:hover {
    color: grey;
}